<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
      {{title | append: settings.pageTitleDivider | append: settings.pageTitlePrefix}}
    </title>
    {% if description %}
      <meta name="description" content="{{description}}"/>
    {% endif %}
    <link rel="stylesheet" href="https://rsms.me/inter/inter.css">
    {% block head %}{% endblock %}
    <link rel="stylesheet" type="text/css" href="/static/css/style.css"/>
    {% if prism == true %}
      <link rel="stylesheet" type="text/css" href="/static/css/prism-tomorrow.css">
    {% endif %}
    <style>[x-cloak] { display: none !important; }</style>
  </head>
  <body>
    <div class="relative bg-gray-50">
      {% include ./partials/header-stacked.liquid %}

      {{ content | safe }}

      {% include ./partials/footer %}
    </div>

<!--    <script src="/static/js/alpine.js"></script>-->
    <script src="//unpkg.com/alpinejs" defer></script>

    {% if path == "home" %}
      <!-- Netlify Identity Widget -->
      <!-- Needed only if you are using Netlify Identity feature -->
      <script type="text/javascript" src="https://identity.netlify.com/v1/netlify-identity-widget.js"></script>
    {% endif %}

  </body>
</html>
