<!-- This example requires Tailwind CSS v2.0+ -->
<div class="bg-{{ settings.highlightColor }}-700">
    <div class="max-w-7xl mx-auto py-16 px-4 sm:py-20 sm:px-6 lg:px-8">
        <h2 class="text-3xl font-extrabold text-white">
            {{title}}
        </h2>
        <div class="flow-root mt-8 lg:mt-10">
            <div class="-mt-4 -ml-8 flex flex-wrap justify-between lg:-ml-4">
                {% for  inbran in inbrans %}
                <div class="mt-4 ml-8 flex flex-grow flex-shrink-0 lg:flex-grow-0 lg:ml-4">
                    <img class="h-12" src="{{inbran.logo}}" alt="{{inbran.alt}}">
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
</div>
