---
title: Blog Sections
---

<section class="catalog-section">
    <h3>Three column cards</h3>
    {% include ../_includes/demo/blog-sections/three-column-cards %}
</section>

<section class="catalog-section">
    <h3>Three column with badges</h3>
    {% include ../_includes/demo/blog-sections/three-column-with-badges.html %}
</section>

<section class="catalog-section">
    <h3>Two column with sign-up</h3>
    {% include ../_includes/demo/blog-sections/two-column-with-sign-up %}
</section>
