---
title: Contact Sections
---

<section class="catalog-section">
    <h3>Centered</h3>
    {% include ../_includes/demo/contact-sections/centered %}
</section>

<section class="catalog-section">
    <h3>Side by side grid</h3>
    {% include ../_includes/demo/contact-sections/side-by-side-grid %}
</section>

<section class="catalog-section">
    <h3>Simple four column</h3>
    {% include ../_includes/demo/contact-sections/simple-four-column %}
</section>

<section class="catalog-section">
    <h3>Simple two column</h3>
    {% include ../_includes/demo/contact-sections/simple-two-column %}
</section>

<section class="catalog-section">
    <h3>Simple two tone</h3>
    {% include ../_includes/demo/contact-sections/simple-two-tone %}
</section>

<section class="catalog-section">
    <h3>Split brand panel</h3>
    {% include ../_includes/demo/contact-sections/split-brand-panel %}
</section>

<section class="catalog-section">
    <h3>Split with image</h3>
    {% include ../_includes/demo/contact-sections/split-with-image %}
</section>

