---
title: FAQs
---

<section class="catalog-section">
    <h3>Centered accordion</h3>
    {% include ../_includes/demo/faqs/centered-accordion.html %}
</section>

<section class="catalog-section">
    <h3>Offset with supporting text</h3>
    {% include ../_includes/demo/faqs/offset-with-supporting-text.html %}
</section>

<section class="catalog-section">
    <h3>Side by side</h3>
    {% include ../_includes/demo/faqs/side-by-side.html %}
</section>

<section class="catalog-section">
    <h3>Three columns</h3>
    {% include ../_includes/demo/faqs/three-columns.html %}
</section>

<section class="catalog-section">
    <h3>Three columns with intro</h3>
    {% include ../_includes/demo/faqs/three-columns-with-intro.html %}
</section>

<section class="catalog-section">
    <h3>Two columns</h3>
    {% include ../_includes/demo/faqs/two-columns.html %}
</section>

<section class="catalog-section">
    <h3>Two columns on brand</h3>
    {% include ../_includes/demo/faqs/two-columns-on-brand.html %}
</section>

<section class="catalog-section">
    <h3>Two columns with description</h3>
    {% include ../_includes/demo/faqs/two-columns-with-description.html %}
</section>

<section class="catalog-section">
    <h3>Two columns with description dark</h3>
    {% include ../_includes/demo/faqs/two-columns-with-description-dark.html %}
</section>
