---
title: Feature Sections
---

<section class="catalog-section">
    <h3>Alternating with testimonial</h3>
    {% include ../_includes/demo/feature-sections/alternating-with-testimonial.html %}
</section>

<section class="catalog-section">
    <h3>Alternative side by side</h3>
    {% include ../_includes/demo/feature-sections/alternative-side-by-side.html %}
</section>

<section class="catalog-section">
    <h3>Centered 2x2</h3>
    {% include ../_includes/demo/feature-sections/centered-2x2.html %}
</section>

<section class="catalog-section">
    <h3>Grid with offset icons</h3>
    {% include ../_includes/demo/feature-sections/grid-with-offset-icons.liquid %}
</section>

<section class="catalog-section">
    <h3>Offset 2x2 grid</h3>
    {% include ../_includes/demo/feature-sections/offset-2x2-grid.html %}
</section>

<section class="catalog-section">
    <h3>On brand 4x2 grid</h3>
    {% include ../_includes/demo/feature-sections/on-brand-4x2-grid.html %}
</section>

<section class="catalog-section">
    <h3>Simple three column</h3>
    {% include ../_includes/demo/feature-sections/simple-three-column.html %}
</section>

<section class="catalog-section">
    <h3>With feature grid list</h3>
    {% include ../_includes/demo/feature-sections/with-feature-grid-list.html %}
</section>

<section class="catalog-section">
    <h3>With feature list</h3>
    {% include ../_includes/demo/feature-sections/with-feature-list.html %}
</section>

<section class="catalog-section">
    <h3>With large screenshot</h3>
    {% include ../_includes/demo/feature-sections/with-large-screenshot.html %}
</section>
