---
title: Footers
---

<section class="catalog-section">
    <h3>Four column newsletter localization</h3>
    {% include ../_includes/demo/footers/four-column-newsletter-localization %}
</section>

<section class="catalog-section">
    <h3>Four column newsletter localization dark</h3>
    {% include ../_includes/demo/footers/four-column-newsletter-localization-dark %}
</section>

<section class="catalog-section">
    <h3>Four column with mission</h3>
    {% include ../_includes/demo/footers/four-column-with-mission %}
</section>

<section class="catalog-section">
    <h3>Four column with newsletter</h3>
    {% include ../_includes/demo/footers/four-column-with-newsletter %}
</section>

<section class="catalog-section">
    <h3>Four column with newsletter dark</h3>
    {% include ../_includes/demo/footers/four-column-with-newsletter-dark %}
</section>

<section class="catalog-section">
    <h3>Simple centered</h3>
    {% include ../_includes/demo/footers/simple-centered %}
</section>

<section class="catalog-section">
    <h3>Social links only</h3>
    {% include ../_includes/demo/footers/social-links-only %}
</section>
