---
title: Headers
---

<section class="catalog-section">
    <h3>Branded with background image</h3>
    {% include ../_includes/demo/headers/branded-with-background-image.html %}
</section>

<section class="catalog-section">
    <h3>Simple centered</h3>
    {% include ../_includes/demo/headers/simple-centered.html %}
</section>

<section class="catalog-section">
    <h3>Simple with select menu</h3>
    {% include ../_includes/demo/headers/simple-with-select-menu.html %}
</section>

<section class="catalog-section">
    <h3>Simple with select menu dark</h3>
    {% include ../_includes/demo/headers/simple-with-select-menu-dark.html %}
</section>

<section class="catalog-section">
    <h3>With background image and cards</h3>
    {% include ../_includes/demo/headers/with-background-image-and-cards.html %}
</section>
