---
title: Heroes
---

<section class="catalog-section">
    <h3>Card with background image</h3>
    {% include ../_includes/demo/heroes/card-with-background-image.html %}
</section>

<section class="catalog-section">
    <h3>Dark with illustration</h3>
    {% include ../_includes/demo/heroes/dark-with-illustration.html %}
</section>

<section class="catalog-section">
    <h3>Simple centered</h3>
    {% include ../_includes/demo/heroes/simple-centered.html %}
</section>

<section class="catalog-section">
    <h3>Split</h3>
    {% include ../_includes/demo/heroes/split.html %}
</section>

<section class="catalog-section">
    <h3>Split with navbar</h3>
    {% include ../_includes/demo/heroes/split-with-navbar.html %}
</section>

<section class="catalog-section">
    <h3>Split with screenshot</h3>
    {% include ../_includes/demo/heroes/split-with-screenshot.html %}
</section>

<section class="catalog-section">
    <h3>With angled image right</h3>
    {% include ../_includes/demo/heroes/with-angled-image-right.html %}
</section>

<section class="catalog-section">
    <h3>With screenshot</h3>
    {% include ../_includes/demo/heroes/with-screenshot.html %}
</section>

<section class="catalog-section">
    <h3>With sign in and media</h3>
    {% include ../_includes/demo/heroes/with-sign-in-and-media.html %}
</section>

<section class="catalog-section">
    <h3>With sign in form</h3>
    {% include ../_includes/demo/heroes/with-sign-in-form.html %}
</section>
