---
title: Newsletter Sections
---

<section class="catalog-section">
    <h3>Centered card with graphic</h3>
    {% include ../_includes/demo/newsletter-sections/centered-card-with-graphic.html %}
</section>

<section class="catalog-section">
    <h3>Simple stacked</h3>
    {% include ../_includes/demo/newsletter-sections/simple-stacked.html %}
</section>

<section class="catalog-section">
    <h3>Simple with description</h3>
    {% include ../_includes/demo/newsletter-sections/simple-with-description.html %}
</section>

<section class="catalog-section">
    <h3>With description on brand card</h3>
    {% include ../_includes/demo/newsletter-sections/with-description-on-brand-card.html %}
</section>

<section class="catalog-section">
    <h3>With paragraph dark</h3>
    {% include ../_includes/demo/newsletter-sections/with-paragraph-dark.html %}
</section>

<section class="catalog-section">
    <h3>With paragraph on brand card</h3>
    {% include ../_includes/demo/newsletter-sections/with-paragraph-on-brand-card.html %}
</section>
