---
title: Pricing Sections
---

<section class="catalog-section">
    <h3>Four tiers with toggle</h3>
    {% include ../_includes/demo/pricing-sections/four-tiers-with-toggle.html %}
</section>

<section class="catalog-section">
    <h3>Single-price-with-details</h3>
    {% include ../_includes/demo/pricing-sections/single-price-with-details.html %}
</section>

<section class="catalog-section">
    <h3>Single price with feature list</h3>
    {% include ../_includes/demo/pricing-sections/single-price-with-feature-list.html %}
</section>

<section class="catalog-section">
    <h3>Split with brand panel</h3>
    {% include ../_includes/demo/pricing-sections/split-with-brand-panel.html %}
</section>

<section class="catalog-section">
    <h3>Three tiers</h3>
    {% include ../_includes/demo/pricing-sections/three-tiers.html %}
</section>

<section class="catalog-section">
    <h3>Three tiers on brand and features</h3>
    {% include ../_includes/demo/pricing-sections/three-tiers-on-brand-and-features.html %}
</section>

<section class="catalog-section">
    <h3>Three tiers with emphasized tier</h3>
    {% include ../_includes/demo/pricing-sections/three-tiers-with-emphasized-tier.html %}
</section>

<section class="catalog-section">
    <h3>Two tiers with extra tier</h3>
    {% include ../_includes/demo/pricing-sections/two-tiers-with-extra-tier.html %}
</section>

<section class="catalog-section">
    <h3>With comparison table</h3>
    {% include ../_includes/demo/pricing-sections/with-comparison-table.html %}
</section>

