---
title: Stats
---

<section class="catalog-section">
    <h3>Simple on brand</h3>
    {% include ../_includes/demo/stats/simple-on-brand.html %}
</section>

<section class="catalog-section">
    <h3>Simple with card</h3>
    {% include ../_includes/demo/stats/simple-with-card.html %}
</section>

<section class="catalog-section">
    <h3>Split with image</h3>
    {% include ../_includes/demo/stats/split-with-image.html %}
</section>

<section class="catalog-section">
    <h3>With fading background image</h3>
    {% include ../_includes/demo/stats/with-fading-background-image.html %}
</section>

