---
title: Team Sections
---

<section class="catalog-section">
    <h3>Dark with large images</h3>
    {% include ../_includes/demo/team-sections/dark-with-large-images %}
</section>

<section class="catalog-section">
    <h3>Full width with vertical images</h3>
    {% include ../_includes/demo/team-sections/full-width-with-vertical-images.html.liquid %}
</section>

<section class="catalog-section">
    <h3>Grid with large round images</h3>
    {% include ../_includes/demo/team-sections/grid-with-large-round-images %}
</section>

<section class="catalog-section">
    <h3>Grid with round images</h3>
    {% include ../_includes/demo/team-sections/grid-with-round-images %}
</section>

<section class="catalog-section">
    <h3>With image and short paragraph</h3>
    {% include ../_includes/demo/team-sections/with-image-and-short-paragraph.html.liquid %}
</section>

<section class="catalog-section">
    <h3>With large images</h3>
    {% include ../_includes/demo/team-sections/with-large-images %}
</section>

<section class="catalog-section">
    <h3>With small images</h3>
    {% include ../_includes/demo/team-sections/with-small-images %}
</section>

<section class="catalog-section">
    <h3>With vertical images</h3>
    {% include ../_includes/demo/team-sections/with-vertical-images %}
</section>