---
title: Testimonials
---

<section class="catalog-section">
    <h3>Side by side on brand</h3>
    {% include ../_includes/demo/testimonials/side-by-side-on-brand.html %}
</section>

<section class="catalog-section">
    <h3>Simple centered</h3>
    {% include ../_includes/demo/testimonials/simple-centered.html %}
</section>

<section class="catalog-section">
    <h3>With background image</h3>
    {% include ../_includes/demo/testimonials/with-background-image %}
</section>

<section class="catalog-section">
    <h3>With large avatar</h3>
    {% include ../_includes/demo/testimonials/with-large-avatar.html %}
</section>

<section class="catalog-section">
    <h3>With overlapping image</h3>
    {% include ../_includes/demo/testimonials/with-overlapping-image.html %}
</section>
