---
title: 'AP Escolar'
previewImage: 'https://tailwindui.com/img/ecommerce-images/category-page-02-image-card-02.jpg'
previewImageAlt: ''
previewDescription: 'Aseguramos alumnos, personal docente y administrativo sin importar el lugar donde se impartan dichas actividades pudiendo ser presenciales o remotas.'
menuPreview: 'Aseguramos alumnos, personal docente y administrativo.
'
iconName: school
order: 9
footerOrder: 6
---

{% include ../_includes/partials/headers/simple-centered.html,
highlight:"Apto para todo publico"
        title:"Seguro de Accidentes Personales Escolar"
        paragraph:""
%}

{% include ../_includes/partials/stats/split-with-image.html,
iconName:"school"
        image:"/static/img/1k.avif"
        alt:"Niño frente al pizarrón yan krukov"
        mainTitle:"¿Qué es el seguro de Accidentes Personales Escolar?"
        contentHTML: '
    <p>Nuestro seguro de Accidentes Escolares, garantizando protección y tranquilidad financiera, si se presenta alguna eventualidad en caso de accidente.</p>
    <p>¿Qué debes considerar para la contratación?</p>
    <ul role="list">
    <li>Ser persona física, moral y/o Institución Educativa.</li>
    <li>Ser un grupo (colectivo) de mínimo 10 personas.</li>
    <li>La edad de asegurabilidad es hasta 70 años y en adelante bajo aceptación especial.</li>
    </ul>
    '
%}

{% include ../_includes/partials/pricing-sections/single-price-with-feature-list.html,
main_title:"Contrata tu "
        main_title_extra:"Seguro de AP Escolar"
        main_paragraph:"Nuestros expertos te guiarán por el proceso de contratación."
        button:"Atención a Cliente"
        highlight_1:"Todo lo que necesitas"
        title_1:"¿Porqué Contratar un Seguro de AP Escolar? "
        paragraph_1:"Este es producto diseñado para cubrir accidentes personales a los Alumnos, Personal Docente y Administrativo que pertenezcan, a una mismo colegio o escuela que se encuentre incorporada a la Secretaría de Educación Pública u algún otro organismo oficial que rija a dicha institución Educativa, durante las actividades de enseñanza organizadas, programadas y aprobadas por la escuela, sin importar el lugar donde se impartan dichas actividades pudiendo ser presenciales o remotas, siempre y cuando dichos eventos ocurran dentro del horario y calendario escolar oficialmente adoptado por la escuela o colegio."
        seronepris: seronepris.APE
%}

{% include ../_includes/partials/stats/split-with-image-reversed.liquid,
        iconName:""
        image:"/static/img/2k.avif"
        alt:"Generación de graduados pix"
        mainTitle:"¿Que Ventajas Tienes?"
        contentHTML: '
    <ul role="list">
    <li>Las Sumas Aseguradas se pueden convenir por cada negocio.</li>
    <li>Opción de incluir deducibles para aminorar el costo del seguro.</li>
    <li>Sin examen médico.</li>
    <li>Contratación inmediata.</li>
    </ul>
    '
%}

{% include ../_includes/partials/cta-sections/split-with-image.html,
image:"/static/img/3k.avif"
        alt:"Dos alumnos caminando george pak"
        highlight:"Tu tienes una visión"
        title:"Nosotros tenemos una manera de llevarte allí con toda seguridad."
        paragraph:""
        button_1:"Contáctanos"
        buttonURL: "/contacto/#contact-form"
%}
