---
title: 'AP Premier'
previewImage: 'https://tailwindui.com/img/ecommerce-images/category-page-02-image-card-02.jpg'
previewImageAlt: ''
previewDescription: 'Seguro de accidentes especializado para cubrir altas Sumas Aseguradas de hasta $2,500,000 USD o su equivalente en moneda nacional.'
menuPreview: Seguro de accidentes que cubre alta Sumas Aseguradas
iconName: briefcase
order: 8
footerOrder: 5
---

{% include ../_includes/partials/headers/simple-centered.html,
highlight:"Apto para todo publico"
        title:"Seguro de Accidentes Personales Premier"
        paragraph:""
%}

{% include ../_includes/partials/stats/split-with-image.html,
iconName:"briefcase"
        image:"/static/img/1j.avif"
        alt:""
        mainTitle:"¿Qué es el seguro de Accidentes Personales Premier?"
        contentHTML: '
    <p>Nuestros seguros de Accidentes Personales Colectivos garantizan protección y tranquilidad financiera, si se presenta alguna eventualidad en caso de accidente.</p>
    <p>¿Qué debes considerar para la contratación?</p>
    <ul role="list">
    <li>Ser persona física, moral y/o Institución Educativa.</li>
    <li>Ser un grupo (colectivo) de mínimo 10 personas.</li>
    <li>La edad de asegurabilidad es hasta 70 años y en adelante bajo aceptación especial.</li>
    </ul>
    '
%}

{% include ../_includes/partials/pricing-sections/single-price-with-feature-list.html,
main_title:"Contrata tu "
        main_title_extra:"Seguro de AP Premier"
        main_paragraph:"Nuestros expertos te guiarán por el proceso de contratación."
        button:"Atención a Cliente"
        highlight_1:"Todo lo que necesitas"
        title_1:"¿Porqué Contratar un Seguro de AP Premier? "
        paragraph_1:"Es un producto especializado para cubrir altas Sumas Aseguradas de hasta $2,500,000 USD o su equivalente en moneda nacional, acotado a profesiones y oficios de riesgo medio y bajo."
        seronepris: seronepris.APP
%}

{% include ../_includes/partials/stats/split-with-image.html,
iconName:"briefcase"
        image:"/static/img/2j.avif"
        alt:""
        mainTitle:"¿Que Ventajas Tienes?"
        contentHTML: '
    <ul role="list">
    <li>Las Sumas Aseguradas se pueden convenir por cada negocio.</li>
    <li>Opción de incluir deducibles para aminorar el costo del seguro.</li>
    <li>Sin examen médico.</li>
    <li>Contratación inmediata.</li>
    </ul>
    '
%}

{% include ../_includes/partials/cta-sections/split-with-image.html,
image:"/static/img/3j.avif"
        alt:""
        highlight:"Tu tienes una visión"
        title:"Nosotros tenemos una manera de llevarte allí con toda seguridad."
        paragraph:""
        button_1:"Contáctanos"
%}
