---
title: 'Equipo de Contratistas'
previewImage: 'https://tailwindui.com/img/ecommerce-images/category-page-02-image-card-02.jpg'
previewImageAlt: ''
previewDescription: 'Ampara todo tipo de equipos fijos, semifijos, maquinaria autopropulsada o remolcada, para protegerlos de los riesgos expuestos durante su uso.'
menuPreview: Ampara maquinaria y equipo de trabajo
iconName: engineer
order: 2
footerOrder: 7
---

{% include ../_includes/partials/headers/simple-centered.html,
    highlight:"Apto para pequeñas y grandes empresas"
    title:"Equipo de Contratistas"
    paragraph:""
%}

{% include ../_includes/partials/stats/split-with-image.html,
    iconName:"engineer"
    image:"/static/img/1d.avif"
    alt:"Pala de ruedas en mina pixabay"
    mainTitle:"¿Qué facilidades me da la póliza de Equipo de Contratistas?"
    contentHTML: '
    <p>Se pueden incluir equipos especializados, riesgos para Minería Subterránea y a Cielo Abierto. Podemos ofrecer contratos para Arrendadoras o Financieras.</p>
    <p>Bienes amparados:</p>
    <ul role="list">
    <li>Todo tipo de equipos fijos, semifijos, maquinaria autopropulsada (que no cuente con placas de circulación) o remolcada, para protegerlos de los riesgos expuestos durante su uso.</li>
    </ul>
    '
%}

{% include ../_includes/partials/pricing-sections/single-price-with-feature-list.html,
main_title:"Contrata a tu "
        main_title_extra:"Equipo de Contratistas"
        main_paragraph:"Nuestros expertos te guiarán por el proceso de contratación."
        button:"Atención a Cliente"
        highlight_1:"Todo lo que necesitas"
        title_1:"¿Qué cubre nuestro seguro? "
        paragraph_1:"Cobertura Básica"
        seronepris: seronepris.EDC
%}

{% include ../_includes/partials/stats/split-with-image-reversed.liquid,
iconName:""
    image:"/static/img/2d.avif"
    alt:"Maquinaria pesada en obra minera aleksandar pasaric"
    mainTitle:"¿Qué ventajas me ofrece nuestra póliza de equipo de contratistas?"
    contentHTML: '
    <p>Es una póliza, que ampara daños materiales que pudieran ocurrir al equipo incluyendo el Robo, y en caso de ser necesario por las actividades propias del asegurado también se puede incluir responsabilidad civil.</p>
    '
%}

{% include ../_includes/partials/cta-sections/split-with-image.html,
image:"/static/img/3d.avif"
        alt:"Pala de roca dura weir esco"
        highlight:"Tu tienes una visión"
        title:"Nosotros tenemos una manera de llevarte allí con toda seguridad."
        paragraph:""
        button_1:"Contáctanos"
        buttonURL: "/contacto/#contact-form"
%}
