---
title: 'Equipo Electrónico'
previewImage: 'https://tailwindui.com/img/ecommerce-images/category-page-02-image-card-02.jpg'
previewImageAlt: ''
previewDescription: 'Ampara daños materiales que pudieran ocurrir a equipos fijos, móviles o portátiles incluyendo el Robo.'
menuPreview: Ampara daños materiales incluyendo robo
iconName: monitor
order: 6
footerOrder: 3
---

{% include ../_includes/partials/headers/simple-centered.html,
highlight:"Apto para pequeñas y grandes empresas"
        title:"Seguro de Equipo Electrónico"
        paragraph:""
%}

{% include ../_includes/partials/stats/split-with-image.html,
iconName:"monitor"
        image:"/static/img/1h.avif"
        alt:""
        mainTitle:"¿Qué es el seguro de Equipo Electrónico?"
        contentHTML: '
    <p>Todo equipo electrónico, que el valor de sus componentes o partes electrónicas sea mayor al 50% de su valor de reposición, mientras se encuentre debidamente instalado y una vez que haya pasado satisfactoriamente las pruebas iniciales de operación y funcionamiento, ya sea que estén en operación, revisión, mantenimiento o inactivos, pero en condiciones de ser utilizados en cualquier momento.</p>
    '
%}

{% include ../_includes/partials/pricing-sections/single-price-with-feature-list.html,
main_title:"Contrata tu "
        main_title_extra:"seguro de Equipo Electrónico"
        main_paragraph:"Nuestros expertos te guiarán por el proceso de contratación."
        button:"Atención a Cliente"
        highlight_1:"Todo lo que necesitas"
        title_1:"¿Qué cubre nuestro seguro? "
        paragraph_1:""
        seronepris: seronepris.EE
%}

{% include ../_includes/partials/stats/split-with-image-reversed.liquid,
iconName:""
        image:"/static/img/2h.avif"
        alt:""
        mainTitle:"¿Cuáles son las ventajas de adquirir este seguro con SPP?"
        contentHTML: '
    <p>Es una póliza, que ampara daños materiales que pudieran ocurrir al equipo incluyendo el Robo y en la cual se puede manejar equipo fijo, móvil o portátil de acuerdo con las necesidades de cada asegurado.</p>
    <p>¿Qué facilidades me da la póliza?</p>
    <p>Se pueden incluir equipos especializados como equipo de laboratorio, médico o paneles solares, de igual manera manejamos contratos con arrendadoras o financieras.</p>
    '
%}

{% include ../_includes/partials/cta-sections/split-with-image.html,
image:"/static/img/3h.avif"
        alt:""
        highlight:"Tu tienes una visión"
        title:"Nosotros tenemos una manera de llevarte allí con toda seguridad."
        paragraph:""
        button_1:"Contáctanos"
%}
