---
title: 'Garantía Hogar Público INFONAVIT'
previewImage: 'https://tailwindui.com/img/ecommerce-images/category-page-02-image-card-01.jpg'
previewImageAlt: ''
previewDescription: 'Producto especializado para los desarrolladores de viviendas que desean realizar la venta a través de créditos del INFONAVIT y FOVISSSTE.'
menuPreview: Ampara los daños producidos por vicios ocultos o defectos de instalaciones
iconName: house
order: 4
footerOrder: 11
---

{% include ../_includes/partials/headers/simple-centered.html,
highlight:"Apto para pequeñas y grandes empresas"
        title:"Seguro de Garantía Hogar Público INFONAVIT"
        paragraph:""
%}

{% include ../_includes/partials/stats/split-with-image.html,
iconName:"house"
        image:"/static/img/1f.avif"
        alt:""
        mainTitle:"¿Qué es el seguro de Garantía Hogar Público INFONAVIT?"
        contentHTML: '
    <p>Ampara los daños producidos por vicios ocultos o defectos de instalaciones o diseño que hayan tenido su origen en la etapa de diseño desarrollo y terminación de la construcción de la vivienda nueva, así como los daños consecuenciales relacionados directamente con los referidos vicios ocultos y defectos de la construcción, a los derechohabientes del Organismo otorgante del crédito que gocen de un crédito hipotecario para la adquisición de una vivienda nueva.</p>
    <p>Producto especializado para los desarrolladores de viviendas que desean realizar la venta a través de créditos del INFONAVIT (Seguro de Calidad). Este seguro cubrirá mediante indemnización o reparación, los daños materiales causados en los bienes asegurados, derivados de vicios ocultos o defectos de diseño, que tengan su origen en la etapa de construcción, del desarrollo del proyecto o en la calidad de los materiales.</p>
    '
%}

{% include ../_includes/partials/pricing-sections/single-price-with-feature-list.html,
main_title:"Contrata tu "
        main_title_extra:"Garantía de Hogar Público"
        main_paragraph:"Nuestros expertos te guiarán por el proceso de contratación."
        button:"Atención a Cliente"
        highlight_1:"Todo lo que necesitas"
        title_1:"¿Qué cubre nuestro seguro? "
        paragraph_1:""
        seronepris: seronepris.GHPI
%}

{% include ../_includes/partials/stats/split-with-image-reversed.liquid,
iconName:""
        image:"/static/img/2f.avif"
        alt:""
        mainTitle:"¿Cuáles son las ventajas de adquirir el Seguro de Calidad con SPP?"
        contentHTML: '
    <ul role="list">
    <li>Facturación agrupada con corte mensual para todas las Pólizas emitidas.</li>
    <li>Revisiones documentales rápidas y apoyo en la solución de cualquier problemática que surja durante el proceso de revisión.</li>
    <li>Nuestro sistema y experiencia nos permite coordinar con autoridades, verificadores y valuadores, ofreciendo un servicio integral y eficaz el cual acelera el tren de vivienda.</li>
    <li>Acompañamiento durante el desarrollo del proyecto por parte de nuestro equipo especializado de ingeniería mismo que podrá apoyarles con sugerencias y mejoras de procesos, evitando retrabajos, demoras en el proyecto y posibles problemas que se pudieran presentar durante la construcción o la vida útil de la vivienda.</li>
    </ul>
    '
%}

{% include ../_includes/partials/feature-sections/with-feature-list.html,
highlight:"SEGURO DE CALIDAD INFONAVIT"
        main_title:"Descarga las guías para desarrolladores"
        main_paragraph:""

        condiciones: condiciones.GHPI

%}

{% include ../_includes/partials/cta-sections/split-with-image.html,
image:"/static/img/3f.avif"
        alt:""
        highlight:"Tu tienes una visión"
        title:"Nosotros tenemos una manera de llevarte allí con toda seguridad."
        paragraph:""
        button_1:"Contáctanos"
%}
