---
title: 'Obra Civil'
previewImage: 'https://tailwindui.com/img/ecommerce-images/category-page-02-image-card-01.jpg'
previewImageAlt: ''
previewDescription: 'Ampara los daños que pueda sufrir una obra en construcción, daños originados por causas propias o externas, así como daños a terceros.'
menuPreview: 'Ampara los daños que pueda sufrir una obra en construcción.'
iconName: construction
order: 1
footerOrder: 1
---

{% include ../_includes/partials/headers/simple-centered.html,
    highlight:"Apto para pequeñas y grandes empresas"
    title:"Seguro de Obra Civil"
    paragraph:""
%}

{% include ../_includes/partials/stats/split-with-image.html,
    iconName:"construction"
    image:"/static/img/1c.avif"
    alt:"Obrero cargando vigas de metal mufid majnun"
    mainTitle:"¿Qué es el seguro de Obra Civil?"
    contentHTML: '
    <p>Es un seguro que ampara los daños que pueda sufrir una obra en construcción. El seguro ampara daños originados por causas propias o externas, así como daños a terceros.</p>
    <p>Algunos de los principales bienes cuyo aseguramiento se considera necesario son:</p>
    <ul role="list">
    <li>Edificación u obra civil, objetivo final del proyecto de construcción.</li>
    <li>Materiales de construcción en el sitio de la obra.</li>
    <li>Construcciones o edificaciones provisionales o temporales.</li>
    <li>Maquinaria y equipo que formarán parte del proyecto de obra civil.</li>
    </ul>
    '
%}

{% include ../_includes/partials/pricing-sections/single-price-with-feature-list.html,
    main_title:"Contrata tu "
    main_title_extra:"Seguro de Obra Civil"
    main_paragraph:"Nuestros expertos te guiarán por el proceso de contratación."
    button:"Atención a Cliente"
    highlight_1:"Todo lo que necesitas"
    title_1:"¿Qué cubre nuestro seguro? "
    paragraph_1:""
    seronepris: seronepris.OC
%}

{% include ../_includes/partials/stats/split-with-image-reversed.liquid,
    iconName:""
    image:"/static/img/2c.avif"
    alt:"Soldador uniendo partes metálicas fernando reyes"
    mainTitle:"¿Cuáles son las ventajas de adquirir este seguro con SPP?"
    contentHTML: '
    <ul role="list">
    <li>Nuestro equipo especializado en Ingeniería nos permite suscribir obras de cualquier tipo y contribuir con aportaciones para optimizar el proyecto.</li>
    <li>Tenemos la posibilidad de suscribir obras con avance mayor al 20%.</li>
    <li>Pólizas Maestras para grandes constructores o instituciones financieras.</li>
    <li>Nuestro programa se adapta a las necesidades de nuestros clientes, modificando o añadiendo coberturas.</li>
    <li>Acceso a nuestro Sistema Integral Informativo (SII), el cual administra, integra y procesa diversa información de las obras en curso, permitiendo al usuario obtener minería de datos relevantes.</li>
    </ul>
    '
%}

{% include ../_includes/partials/cta-sections/split-with-image.html,
    image:"/static/img/3c.avif"
    alt:"Herrero cortando acero uğur bozdoğan"
    highlight:"Tu tienes una visión"
    title:"Nosotros tenemos una manera de llevarte allí con toda seguridad."
    paragraph:""
    button_1:"Contáctanos"
        buttonURL: "/contacto/#contact-form"
%}
