---
title: 'Riesgos Cibernéticos'
previewImage: 'https://tailwindui.com/img/ecommerce-images/category-page-02-image-card-02.jpg'
previewImageAlt: ''
previewDescription: 'Cubre a las empresas y/o personas físicas que con motivo de su actividad profesional tengan en su poder datos electrónicos.'
menuPreview: Ampara robo, pérdida, comunicación y/o divulgación de datos electronicos.
iconName: security
order: 10
footerOrder: 9
---

{% include ../_includes/partials/headers/simple-centered.html,
highlight:"Apto para pequeñas y grandes empresas"
        title:"Seguro de Riesgos Cibernéticos"
        paragraph:""
%}

{% include ../_includes/partials/stats/split-with-image.html,
iconName:"security"
        image:"/static/img/1m.avif"
        alt:"Memorias de computador pnumas nikhomkhai"
        mainTitle:"¿Qué es el seguro de Riesgos Cibernéticos?"
        contentHTML: '
    <p>Es un seguro diseñado para PYMES el cual cubre a las empresas y/o personas físicas que con motivo de su actividad profesional tengan en su poder datos electrónicos y que, por robo, pérdida, comunicación y/o divulgación no autorizada de los mismos causen daños a terceros, daños a su propia operación o sean sujetos de multas por parte de la autoridad.</p>
    '
%}

{% include ../_includes/partials/pricing-sections/single-price-with-feature-list.html,
main_title:"Contrata tu "
        main_title_extra:"Seguro de Riesgos Cibernéticos"
        main_paragraph:"Nuestros expertos te guiarán por el proceso de contratación."
        button:"Atención a Cliente"
        highlight_1:"Todo lo que necesitas"
        title_1:"¿Qué cubre nuestro seguro? "
        paragraph_1:"Pérdidas Causadas a Terceros"
        seronepris: seronepris.RC
%}

{% include ../_includes/partials/stats/split-with-image-reversed.liquid,
iconName:""
        image:"/static/img/2m.avif"
        alt:"IDE en computadora luis gomes"
        mainTitle:"¿Cuáles son las ventajas de adquirir este seguro con SPP?"
        contentHTML: '
    <ul role="list">
    <li>Suma Asegurada en limites único y combinado para Pymes de 100 mil USD.</li>
    <li>Para el pago de una indemnización El Asegurado no requiere sentencia definitiva.</li>
    <li>Ampara las pérdidas por la interrupción o cortes de seguros públicos, excepto las perdidas relacionadas con interrupción de internet.</li>
    <li>Cobertura a nivel Mundial, con una plataforma de respuesta para brindar rápida y eficaz solución a los incidentes que nuestros clientes puedan sufrir.</li>
    <li>En caso de algún evento le ofrecemos atención por especialistas las 24 horas, los 7 días de la semana, los 365 días del año.</li>
    <li>Para la Interrupción de negocio cubrimos la perdida de la utilidad neta hasta por tres meses.</li>
    <li>Nuestro producto incluye la recuperación de datos y costos de recuperación, inclusive el aumento de costos laborales y gastos por el uso de equipos externos.</li>
    <li>La cobertura también protege la reputación, difamación o afectación a la privacidad del asegurado.</li>
    <li>Amparamos eventos de ciber terrorismo.</li>
    </ul>
    '
%}

{% include ../_includes/partials/cta-sections/split-with-image.html,
image:"/static/img/3m.avif"
        alt:"Servidores de computación brett sayles"
        highlight:"Tu tienes una visión"
        title:"Nosotros tenemos una manera de llevarte allí con toda seguridad."
        paragraph:""
        button_1:"Contáctanos"
        buttonURL: "/contacto/#contact-form"
%}
