---
title: 'Rotura de Maquinaria'
previewImage: 'https://tailwindui.com/img/ecommerce-images/category-page-02-image-card-02.jpg'
previewImageAlt: ''
previewDescription: 'Seguro que brinda protección a las máquinas de una empresa contra riesgos propios de la operación. '
menuPreview: Brinda protección a las máquinas de una empresa contra riesgos propios de la operación
iconName: machine
order: 11
footerOrder: 8
---

{% include ../_includes/partials/headers/simple-centered.html,
highlight:"Apto para pequeñas y grandes empresas"
        title:"Seguro de Rotura de Maquinaria"
        paragraph:""
%}

{% include ../_includes/partials/stats/split-with-image.html,
iconName:"machine"
        image:"/static/img/1n.avif"
        alt:"Carretilla elevadora elevate"
        mainTitle:"¿Qué es el seguro de Rotura de Maquinaria?"
        contentHTML: '
    <p>El seguro de rotura de maquinaria brinda protección a las máquinas de una empresa contra riesgos propios de la operación, especialmente los de origen interno, y descartando la mayor parte de los riesgos de origen externo.</p>
    <p>Algunos de los principales bienes cuyo aseguramiento se considera necesario son:</p>
    <ul role="list">
    <li>Edificación u obra civil, objetivo final del proyecto de construcción.</li>
    <li>Materiales de construcción en el sitio de la obra.</li>
    <li>Construcciones o edificaciones provisionales o temporales.</li>
    <li>Maquinaria y equipo que formarán parte del proyecto de obra civil.</li>
    </ul>
    '
%}

{% include ../_includes/partials/pricing-sections/single-price-with-feature-list.html,
main_title:"Contrata tu "
        main_title_extra:"Seguro de Rotura de Maquinaria"
        main_paragraph:"Nuestros expertos te guiarán por el proceso de contratación."
        button:"Atención a Cliente"
        highlight_1:"Todo lo que necesitas"
        title_1:"¿Qué cubre nuestro seguro? "
        paragraph_1:"Coberturas Principales:"
        seronepris: seronepris.RDM
%}

{% include ../_includes/partials/stats/split-with-image-reversed.liquid,
iconName:""
        image:"/static/img/2n.avif"
        alt:"Excavadora con pala jan zakelj"
        mainTitle:"¿Cuáles son las ventajas de adquirir este seguro con SPP?"
        contentHTML: '
    <p>Nuestro seguro ofrece la posibilidad de contratar como cobertura adicional las Pérdidas Consecuenciales las cuales son de vital importancia en este seguro por las necesidades de la industria.</p>
    <p>Nos especializamos en suscribir riesgos “Stand Alone”, sin necesidad de contratar pólizas paquetes ni primas de apoyo.</p>
    '
%}

{% include ../_includes/partials/cta-sections/split-with-image.html,
image:"/static/img/3n.avif"
        alt:"Obra con dos excavadoras y trabajadores en camino amar preciado"
        highlight:"Tu tienes una visión"
        title:"Nosotros tenemos una manera de llevarte allí con toda seguridad."
        paragraph:""
        button_1:"Contáctanos"
%}
