---
title: 'Vicios Ocultos'
previewImage: 'https://tailwindui.com/img/ecommerce-images/category-page-02-image-card-01.jpg'
previewImageAlt: ''
previewDescription: 'Indemnización o reparación de daños materiales causados por errores de diseño, defecto de materiales y/o mano de obra deficiente.'
menuPreview: Indemniza o repara daños materiales causados en los bienes asegurados
iconName: item
order: 3
footerOrder: 2
---

{% include ../_includes/partials/headers/simple-centered.html,
highlight:"Apto para pequeñas y grandes empresas"
        title:"Seguro de Vicios Ocultos"
        paragraph:""
%}

{% include ../_includes/partials/stats/split-with-image.html,
    iconName:"item"
    image:"/static/img/1e.avif"
    alt:""
    mainTitle:"¿Qué es el seguro de Vicios Ocultos?"
    contentHTML: '
    <p>Este seguro cubrirá mediante indemnización o reparación, los daños materiales causados en los bienes asegurados, derivados por errores de diseño, defecto de materiales y/o mano de obra deficiente.</p>
    <p>Ampara cualquier tipo de obra o estructura tanto nueva como reacondicionada.</p>
    '
%}

{% include ../_includes/partials/pricing-sections/single-price-with-feature-list.html,
main_title:"Contrata tu "
        main_title_extra:"Seguro de Vicios Ocultos"
        main_paragraph:"Nuestros expertos te guiarán por el proceso de contratación."
        button:"Atención a Cliente"
        highlight_1:"Todo lo que necesitas"
        title_1:"¿Qué cubre nuestro seguro? "
        paragraph_1:"Coberturas Principales"
        seronepris: seronepris.VO
%}

{% include ../_includes/partials/stats/split-with-image-reversed.liquid,
iconName:""
        image:"/static/img/2e.avif"
        alt:""
        mainTitle:"¿Cuáles son las ventajas de adquirir tu Seguro de Vicios Ocultos con SPP?"
        contentHTML: '
    <ul role="list">
    <li>Sustitución de Fianza de Vicios Ocultos por Póliza de Vicios Ocultos.</li>
    <li>Aseguramos cualquier tipo de obra tanto nueva como reacondicionada de múltiples giros.</li>
    <li>Somos la única cobertura de Vicios Ocultos para el sector privado en todo México.</li>
    <li>Acompañamiento durante el desarrollo del proyecto por parte de nuestro equipo especializado de ingeniería mismo que les apoyará con sugerencias y mejoras de procesos que se identifiquen en obra, evitando retrabajos y garantizando la Calidad.</li>
    <li>Programas especiales para vías de comunicación como autopistas, carreteras, caminos rurales.</li>
    <li>Programas especiales para paneles solares.</li>
    </ul>
    '
%}

{% include ../_includes/partials/cta-sections/split-with-image.html,
image:"/static/img/3e.avif"
        alt:""
        highlight:"Tu tienes una visión"
        title:"Nosotros tenemos una manera de llevarte allí con toda seguridad."
        paragraph:""
        button_1:"Contáctanos"
        buttonURL: "/contacto/#contact-form"
%}
