<!-- This example requires Tailwind CSS v2.0+ -->
<div class="bg-{{ settings.highlightColor }}-700">
    <div class="max-w-4xl mx-auto px-4 py-16 sm:px-6 sm:pt-20 sm:pb-24 lg:max-w-7xl lg:pt-24 lg:px-8">
        <h2 class="text-3xl font-extrabold text-white tracking-tight">
            {{main_title}}
        </h2>
        <p class="mt-4 max-w-3xl text-lg text-{{ settings.highlightColor }}-200">
            {{main_paragraph}}
        </p>
        <div class="mt-12 grid grid-cols-1 gap-x-6 gap-y-12 sm:grid-cols-2 lg:mt-16 lg:grid-cols-3 lg:gap-x-8 lg:gap-y-16">
            {% for  valor in valores %}
            <div>
                <div>
          <span class="flex items-center justify-center h-12 w-12 rounded-md bg-white bg-opacity-10">
              {{icons.materialIcons[valor.iconName]}}
          </span>
                </div>
                <div class="mt-6">
                    <h3 class="text-lg font-medium text-white">{{valor.title}}</h3>
                    <p class="mt-2 text-base text-{{ settings.highlightColor }}-200">
                        {{valor.para}}
                    </p>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</div>
