<!-- This example requires Tailwind CSS v2.0+ -->
<div class="bg-{{ settings.highlightColor }}-700">
    <div class="max-w-4xl mx-auto px-4 py-16 sm:px-6 sm:pt-20 sm:pb-24 lg:max-w-7xl lg:pt-24 lg:px-8">
        <h2 class="text-3xl font-extrabold text-white tracking-tight">
            {{main_title}}
        </h2>
        <p class="mt-4 max-w-3xl text-lg text-{{ settings.highlightColor }}-200">
            {{main_paragraph}}
        </p>
        <div class="mt-12 grid grid-cols-1 gap-x-6 gap-y-12 sm:grid-cols-2 lg:mt-16 lg:grid-cols-3 lg:gap-x-8 lg:gap-y-16">
            {% for  valor in valores %}
            <div>
                <div>
          <span class="flex items-center justify-center h-12 w-12 rounded-md bg-white bg-opacity-10">
            <!-- Heroicon name: outline/inbox -->
            <svg class="h-6 w-6 text-white" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor" aria-hidden="true">
              <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M20 13V6a2 2 0 00-2-2H6a2 2 0 00-2 2v7m16 0v5a2 2 0 01-2 2H6a2 2 0 01-2-2v-5m16 0h-2.586a1 1 0 00-.707.293l-2.414 2.414a1 1 0 01-.707.293h-3.172a1 1 0 01-.707-.293l-2.414-2.414A1 1 0 006.586 13H4" />
            </svg>
          </span>
                </div>
                <div class="mt-6">
                    <h3 class="text-lg font-medium text-white">{{valor.title}}</h3>
                    <p class="mt-2 text-base text-{{ settings.highlightColor }}-200">
                        {{valor.para}}
                    </p>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</div>
