<!-- This example requires Tailwind CSS v2.0+ -->
<div class="relative bg-indigo-800">
    <div class="absolute inset-0">
        <img class="w-full h-full object-cover" src="{{image}}" alt="{{alt}}">
        <div class="absolute inset-0 bg-indigo-800 mix-blend-multiply" aria-hidden="true"></div>
    </div>
    <div class="relative max-w-7xl mx-auto py-24 px-4 sm:py-32 sm:px-6 lg:px-8">
        <h1 class="text-4xl font-extrabold tracking-tight text-white sm:text-6xl lg:text-7xl">{{main_title}}</h1>
        <p class="mt-6 text-xl text-indigo-100 max-w-3xl">{{main_paragraph}}</p>
    </div>
</div>
