<!-- This example requires Tailwind CSS v2.0+ -->
<div class="bg-white">
    <!-- Header -->
    <div class="relative pb-32 bg-gray-800">
        <div class="absolute inset-0">
            <img class="w-full h-full object-cover" src="{{image}}" alt="{{alt}}">
            <div class="absolute inset-0 bg-gray-800 mix-blend-multiply" aria-hidden="true"></div>
        </div>
        <div class="relative max-w-7xl mx-auto py-24 px-4 sm:py-32 sm:px-6 lg:px-8">
            <h1 class="text-4xl font-extrabold tracking-tight text-white md:text-5xl lg:text-6xl">{{main_title}}</h1>
            <p class="mt-6 max-w-3xl text-xl text-gray-300">{{main_paragraph}}</p>
        </div>
    </div>

    <!-- Overlapping cards -->
    <section class="-mt-32 max-w-7xl mx-auto relative z-10 pb-32 px-4 sm:px-6 lg:px-8" aria-labelledby="contact-heading">
        <h2 class="sr-only" id="contact-heading">{{button_1}}</h2>
        <div class="grid grid-cols-1 gap-y-20 lg:grid-cols-3 lg:gap-y-0 lg:gap-x-8">
            {% for  usaten in usatens %}
            <div class="flex flex-col bg-white rounded-2xl shadow-xl">
                <div class="flex-1 relative pt-16 px-6 pb-8 md:px-8">
                    <div class="absolute top-0 p-5 inline-block bg-{{ settings.highlightColor }}-600 rounded-xl shadow-lg transform -translate-y-1/2">
                        {{icons.materialIcons[usaten.iconName]}}
                    </div>
                    <h3 class="text-xl font-medium text-gray-900">{{usaten.title}}</h3>
                    <p class="mt-4 text-base text-gray-500">{{usaten.para}}</p>
                </div>
                <div class="p-6 bg-gray-50 rounded-bl-2xl rounded-br-2xl md:px-8">
                    <a href="#" class="text-base font-medium text-{{ settings.highlightColor }}-700 hover:text-{{ settings.highlightColor }}-600">{{usaten.button}}<span aria-hidden="true"> &rarr;</span></a>
                </div>
            </div>
            {% endfor %}
        </div>
    </section>
</div>
