<div class="bg-white">
    <div class="max-w-7xl mx-auto py-16 px-4 sm:py-24 sm:px-6 lg:px-8">
        <div class="xl:flex xl:items-center xl:justify-between">
            <div>
                <h2 class="text-4xl font-extrabold sm:text-5xl sm:tracking-tight">
                    <span class="text-gray-900">¿Por qué contratar un seguro de </span>
                    <span class="text-{{ settings.highlightColor }}-600">Riesgos Cibernéticos?</span>
                </h2>
                <p class="mt-5 text-xl text-gray-500">Para  evitar pérdidas en tu empresa ocasionadas, no sólo por responsabilidad frente a terceros, sino también eventos propios de la operación día a día de tu negocio.<br><br>¡Permítenos proteger tu empresa!</p>
            </div>
        </div>
    </div>
</div>
