---
layout: default
title: Aviso de Privacidad
---

{% include ./_includes/partials/content-sections/centered.liquid,
    highlight:"Favor de Leer Detenidamente"
    main_title:"Aviso de Privacidad"
    mainParagraph:"<strong>SPP Institución de Seguros S.A. de C.V. (en adelante SPP Seguros)</strong> con domicilio en Volcán Número 214 Piso 2 Colonia Lomas de Chapultepec Sección, Delegación Miguel Hidalgo, C.P. 11000, Ciudad de México, D.F., es la responsable del uso y protección de sus datos personales y por medio de este aviso hacemos de su conocimiento el tratamiento que SPP Seguros dará a sus datos personales una vez recabados, esto conforme a las disposiciones establecidas por la Ley Federal de Protección de Datos Personales en Posesión de los Particulares."
    contentHTML: '
    <p>Algunos datos personales y/o datos personales sensibles otorgados a SPP Seguros podrán ser:</p>
    <ul role="list">
    <li><strong>Datos correspondientes a identificación como podrían ser:</strong> nombre completo, domicilio personal, teléfono particular, teléfono celular, correo electrónico, CURP, RFC, fecha de nacimiento, edad, nacionalidad, número de seguridad social, cartilla del servicio militar, país de residencia. </li>
    <li><strong>Datos laborales como podrían ser:</strong> Domicilio laboral, correo electrónico otorgado por la empresa, puesto, teléfono, nombre del empleador, entre otros.</li>
    <li><strong>Datos correspondientes a educación:</strong> Título profesional obtenido, número de cédula profesional, nivel educativo, especialidad, constancias de estudios, entre otros.</li>
    <li><strong>Datos correspondientes a estado de salud:</strong> historial clínico, enfermedades y/o padecimientos, estado de salud. </li>
    <li><strong>Datos bancarios como pueden ser:</strong> número de cuenta, Clabe Interbancaria. </li>
    </ul>
    <p>Asimismo, es posible que requiramos información de terceros relacionados con usted, como el nombre y datos de contacto, antecedentes médicos y condición de salud de sus descendientes, dependientes y cualquier otra persona que pueda ser asegurada o beneficiaria bajo los contratos de seguro que llegue a celebrar con SPP, para lo cual manifiesta contar con la autorización de dichas personas para proporcionar dichos datos.</p>
    <p>Sus datos personales podrán ser utilizados con la finalidad de cumplir con las necesidades que se mencionan a continuación:</p>
    <h4>1.- Clientes o asegurados:</h4>
    <ul role="list">
    <li>Cumplir con obligaciones referentes a una relación jurídica que se pudiera llegar a dar en términos de la Ley sobre Contrato de Seguros, Ley de Instituciones de Seguros y Fianzas y/o la Circular Única de Seguros y Fianzas. </li>
    <li>Cumplir con obligaciones ante la Comisión Nacional de Seguros y Fianzas o algunas otras autoridades con las que se tuviera obligación legal. </li>
    <li>Elaborar reportes para autoridades que así lo requieren. </li>
    <li>Cumplir con inspecciones, auditorías internas y externas hacia las autoridades.</li>
    <li>Comprobar, validar y corroborar datos para realizar propuestas, cotizaciones o bien alguna oferta para los programas de aseguramiento.</li>
    <li>Para proveerle nuestra asesoría para la cotización y celebración de nuevos contratos de seguros, o bien la conservación o modificación, renovación o cancelación de aquellos que ya tenga celebrados con nosotros, así como apoyo en el trámite de siniestros.</li>
    <li>Cumplir con cualesquiera disposiciones legales aplicables.</li>
    </ul>
    <h4>2.- Proveedor:</h4>
    <ul role="list">
    <li>Para la redacción de los elementos legales que servirán como sustento para la relación con SPP Seguros, efectuar pagos o bien poder realizar la facturación. </li>
    <li>Cumplir con obligaciones ante la Comisión Nacional de Seguros y Fianzas o algunas otras autoridades con las que se tuviera obligación legal. </li>
    <li>Elaborar reportes para autoridades que así lo requieren. </li>
    <li>Cumplir con inspecciones, auditorías internas y externas hacia las autoridades. </li>
    </ul>
    <h4>3.- Agente:</h4>
    <ul role="list">
    <li>Cumplir con las obligaciones derivadas de la relación jurídica entre SPP Seguros y el Agente. </li>
    <li>Elaborar los reportes que solicite la autoridad correspondiente. </li>
    <li>Hacer cumplir los contratos celebrados entre SPP Seguros y el Agente.</li>
    <li>Cumplir con inspecciones, auditorías internas y externas hacia las autoridades. </li>
    </ul>
    <h4>4.- Público en General:</h4>
    <ul role="list">
    <li>Nos permitirá otorgar protección y seguridad a las personas que visiten las oficinas de SPP Seguros. </li>
    </ul>
    <h4>5.- Recursos Humanos y Candidatos:</h4>
    <ul role="list">
    <li>Para todo lo relacionado a la selección y reclutamiento, capacitación y desarrollo del personal. </li>
    <li>Para verificar referencias laborales, profesionales y académicas.</li>
    <li>Para evaluar perfiles, capacidades, habilidades y conocimientos. </li>
    <li>Para el cumplimiento de las obligaciones fiscales, así como el pago de prestaciones laborales. </li>
    <li>Para el cumplimiento de los derechos y obligaciones derivados de las relaciones de trabajo incluyendo los que se presentaran antes y después de ésta. </li>
    </ul>
    <p>Sus datos personales sensibles podrán ser utilizados para algunas finalidades secundarias para las cuales se requiere su consentimiento, y que se se&ntintilde;alan a continuación:</p>
    <h4>1.- Como Posible cliente o asegurado:</h4>
    <ul role="list">
    <li>Hacer de su conocimiento información y promociones que le permitan estar enterado de nuestros productos y puedan ser de su interés. </li>
    <li>Poder dar seguimiento a los productos que contrate con nosotros con la finalidad de que se encuentre satisfecho con la atención que le brinda SPP Seguros. </li>
    <li>Llevar a cabo encuestas relacionadas al servicio que le otorgamos. </li>
    </ul>
    <h4>2.- Como los Agentes de Seguros:</h4>
    <ul role="list">
    <li>Tener información actualizada en nuestra base de datos de Agentes. </li>
    <li>Invitarlo a participar en capacitación continua y/o programas diversos. </li>
    <li>Puedan recibir información de SPP Seguros que sea de su interés. </li>
    </ul>
    <h4>3.- Como posible candidato laboral:</h4>
    <ul role="list">
    <li>Contactarlo para participar por una vacante si su curriculum vitae llegara a ser de interés para SPP Seguros. </li>
    <li>Realizar evaluaciones en caso una posible contratación. </li>
    <li>En caso de que usted lo autorice, poder intercambiar su curriculum vitae con empresas del sector asegurador. </li>
    </ul>
    <p>Los datos personales otorgados serán tratados por el tiempo necesario en base a lo establecido en el presente Aviso de Privacidad. </p>
    <p>Hacemos del conocimiento de los usuarios que nuestro portal web podrá contener enlaces a sitios web que no sean propiedad de SPP Seguros y no se encuentren a revisión respecto a Políticas de Privacidad y/o Avisos de Privacidad de dichos sitios web, por este motivo SPP Seguros no se hará responsable del contenido de dichos sitios web ni el tratamiento que se le otorgue a los datos personales. SPP Seguros lo invita a que lea cuidadosamente la Política y el Aviso de Privacidad de cada sitio que esté vinculado desde nuestro portal web. </p>
    <p>SPP Seguros solamente podrá transferir sus datos personales a terceros nacionales o extranjeros, siempre y cuando se encuentren relacionados jurídica o comercialmente con SPP Seguros solo para cumplir con las finalidades descritas en el Aviso de Privacidad.</p>
    <p>SPP Seguros solamente podrá transferir sus datos personales en los casos previstos y autorizados por la Ley.</p>
    <p>Algunos datos personales podrán ser conservados en bases de datos y utilizados por SPP para fines estadísticos, previa disociación.</p>
    <p>Sus datos personales no serán tratados para fines mercadotécnicos, publicitarios o de prospección comercial.</p>
    <p>En SPP Seguros nos comprometemos a implementar y mantener medidas de seguridad, técnicas tanto administrativas como físicas con la finalidad de proteger sus datos personales y así evitar pérdida, daño, destrucción, alteración, o el uso no autorizado por el titular. </p>
    <p>De los Derechos ARCO.</p>
    <ul role="list">
    <li><strong>Acceso:</strong> Saber que datos personales tenemos y que utilidad les daremos. </li>
    <li><strong>Rectificación:</strong> Solicitar la corrección o actualización de información. </li>
    <li><strong>Cancelación:</strong> Eliminación por uso inadecuado de datos de nuestras bases de datos. </li>
    <li><strong>Oposición:</strong> Oponerse al uso de datos para fines específicos. </li>
    </ul>
    <p>Como titular de los datos personales y/o datos personales sensibles podrás ejercer los derechos de Acceso, Rectificación, Cancelación y Oposición (derechos ARCO) referente a sus datos personales, siempre y cuando el tratamiento de sus datos personales no sea necesario o el resultado de una acción jurídica. </p>
    <p>Como titular podrá ejercer sus derechos ARCO, para esto es necesario dirigir su solicitud a nuestro responsable de datos Enrique Oceguera Ochoa con ubicación en el domicilio indicado o bien en el teléfono 55-36-00-96-10 o al email: oficialdecumplimiento@sppseguros.com.mx </p>
    <p>Con la finalidad de ejercer sus derechos previstos en la Ley se podrá realizar por medio del envío de la solicitud en base a los términos establecidos por la Ley al domicilio en Volcán Número 214 Piso 2 Colonia Lomas de Chapultepec Sección I, Delegación Miguel Hidalgo, C.P. 11000, Ciudad de México, D.F., o bien al correo electrónico oficialdecumplimiento@sppseguros.com.mx o directamente al teléfono 55-36-00-96-10 en atención de Enrique Oceguera Ochoa. </p>
    <h4>Requisitos:</h4>
    <ul role="list">
    <li>1. Nombre completo de Titular</li>
    <li>2. Formato de Solicitud</li>
    <li>3. Copia de documento que acredite la identidad anexado al correo de la solicitud (Credencial de elector vigente, Pasaporte)</li>
    <li>4. Correo electrónico para otorgar la respuesta</li>
    <li>5. Descripción de los datos personales sobre los cuales desea ejercer sus derechos ARCO</li>
    </ul>
    <h4>Plazo:</h4>
    <ul role="list">
    <li>1. Tiempo de respuesta máximo 15 días después de aceptar la solicitud</li>
    <li>2. Tendrá máximo 7 días después de recibir la respuesta para solicitar la cancelación de esta</li>
    </ul>
    <h4>Medios de Respuesta:</h4>
    <ul role="list">
    <li>1. Correo electrónico</li>
    <li>2. Entrega física en domicilio u oficina con la previa identificación del titular</li>
    </ul>
    <p>Es importante señalar que, si bien el ejercicio de sus Derechos ARCO es gratuito, SPP podrá cobrarle los gastos justificados de envío y los costos de reproducción.</p>
    <p>Asimismo, le pedimos considerar que es posible que SPP Seguros no pueda cancelar o bloquear la totalidad de sus datos personales en caso de que dichas acciones vayan en contravención a las leyes que le sean aplicables.</p>
    <p>Asimismo, le informamos que usted puede iniciar el procedimiento de Protección de Derechos ARCO, ante el Instituto Federal de Acceso a la Información y Protección de Datos Personales ("IFAI"), dentro de los 15 días siguientes a la fecha en que demos respuesta a su solicitud y esta no le sea satisfactoria, o bien, si transcurrido el término señalado, la responsable no diera respuesta a su solicitud.</p>
    <p>SPP Seguros se reserva el derecho de modificar el presente Aviso de Privacidad cuando así lo considere conveniente o sea necesario para cumplir con los cambios derivados de las legislaciones vigentes o bien sea necesario derivado de disposiciones internas de la compañía. </p>
    <p>SPP Seguros podrá a su disposición el Aviso de Privacidad actualizado en el sitio web www.sppseguros.com.mx o bien le podrá hacer envío del comunicado directamente al correo electrónico que nos haya otorgado. </p>
    <a href="#">Formato-Solicitud-ARCO.</a>
    <p>La última actualización se realizó en mayo 2021.</p>
    '
%}
