---
layout: default
title: Servicio
---

{% include ./_includes/partials/headers/branded-with-background-image.html,
    image:"https://images.unsplash.com/photo-1525130413817-d45c1d127c42?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1920&q=60&&sat=-100"
    alt:""
    main_title:"Seguro de Obra Civil"
    main_paragraph:""
%}

{% include ./_includes/partials/stats/split-with-image.html,
    highlight:"Apto para todo publico"
    title:"¿Qué es el seguro de Obra Civil?"
    image:"https://images.unsplash.com/photo-1546913199-55e06682967e?ixlib=rb-1.2.1&auto=format&fit=crop&crop=focalpoint&fp-x=.735&fp-y=.55&w=1184&h=1376&q=80"
    alt:""
    photographer:"Photo by a photographer"
    mainParagraph:"Es un seguro que ampara los daños que pueda sufrir una obra en construcción. El seguro ampara daños originados por causas propias o externas, así como daños a terceros."
    contentHTML: '
    <p>Algunos de los principales bienes cuyo aseguramiento se considera necesario son:</p>
    <ul role="list">
    <li>Edificación u obra civil, objetivo final del proyecto de construcción.</li>
    <li>Materiales de construcción en el sitio de la obra.</li>
    <li>Construcciones o edificaciones provisionales o temporales.</li>
    <li>Maquinaria y equipo que formarán parte del proyecto de obra civil.</li>
    </ul>
    '
%}

{% include ./_includes/partials/pricing-sections/single-price-with-feature-list.html,
    main_title:"Contrata tu "
    main_title_extra:"Seguro de Obra Civil"
    main_paragraph:"Nuestros expertos te guiarán por el proceso de contratación."

    highlight_1:"Todo lo que necesitas"
    title_1:"¿Qué cubre nuestro seguro? "
    paragraph_1:""

    seronepris: seronepris.items
%}

{% include ./_includes/partials/stats/split-with-image.html,
    highlight:""
    title:"¿Cuáles son las ventajas de adquirir este seguro con SPP?"
    image:"https://images.unsplash.com/photo-1546913199-55e06682967e?ixlib=rb-1.2.1&auto=format&fit=crop&crop=focalpoint&fp-x=.735&fp-y=.55&w=1184&h=1376&q=80"
    alt:""
    photographer:"Photo by a photographer"
    mainParagraph:""
    contentHTML: '
    <ul role="list">
    <li>Nuestro equipo especializado en Ingeniería nos permite suscribir obras de cualquier tipo y contribuir con aportaciones para optimizar el proyecto.</li>
    <li>Tenemos la posibilidad de suscribir obras con avance mayor al 20%.</li>
    <li>Pólizas Maestras para grandes constructores o instituciones financieras.</li>
    <li>Nuestro programa se adapta a las necesidades de nuestros clientes, modificando o añadiendo coberturas.</li>
    <li>Acceso a nuestro Sistema Integral Informativo (SII), el cual administra, integra y procesa diversa información de las obras en curso, permitiendo al usuario obtener minería de datos relevantes.</li>
    </ul>
    '
%}

{% include ./_includes/partials/cta-sections/split-with-image.html,
    image:"https://images.unsplash.com/photo-1525130413817-d45c1d127c42?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1920&q=60&blend=6366F1&sat=-100&blend-mode=multiply"
    alt:""
    highlight:"Tu tienes una visión"
    title:"Nosotros tenemos una manera de llevarte allí con toda seguridad."
    paragraph:""
    button_1:"Contáctanos"
%}