<header class="bg-spp-blue-dark">
    <nav class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8" aria-label="Top">
        <div class="w-full py-6 flex items-center justify-between">
            <div class="flex items-center">
                <a href="/">
                    <span class="sr-only">SPP Institución de Seguros S.A. de C.V.</span>
                    <span class="sm:hidden">{{ settings.companyLogoMobile }}</span>
                    <span class="hidden sm:inline-block">{{ settings.companyLogo }}</span>
                </a>
            </div>
        </div>
    </nav>
</header>
